<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand d-none d-md-block" href="{{ $.Site.BaseURL }}"><img src="/img/homebutton.png" alt="Home" style="max-height: 50px;" /></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {{ range $.Site.Sections }}
          <li class="nav-item"><a href="{{ .Permalink }}" class="nav-link">{{ .Title }}</a></li>
          {{ end }}
      </ul>
    </div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="" class="nav-link" onclick="Snipcart.api.theme.cart.open(); return false;">Cart: <span id="cart-count"></span></a>
      </li>
    </ul>
  </div>
</nav>