<div class="container-fluid h-100" style="height: 100%;">
    <div class="row">
    <div class="d-none d-md-block col-md-2">
        
    </div>
    <div class="col-sm-12 col-md-8 text-center fs-1"><a href="https://www.facebook.com/sheepdogcigarclubberks/" target="_new"><i class="bi bi-facebook" alt="facebook"></i></a>
    </div>
    <div class="d-none d-md-block col-md-2 text-end">
        <a href="https://resurgentpayments.com/" target="_new"><img src="/img/resurgent_payments_h.jpg" height="48" alt="Site hosted and maintained by Resurgent Payments, LLC" /></a>
    </div>
    </div>
</div>	
