{{ define "main" }}

<h1 class="text-center">{{ .Params.title }}</h1>
<h2 class="text-center mb-5">{{ .Params.subtitle }}</h2>

{{ .Content }}


<h2>Upcoming Events</h2>
<p>Please join us for the following events:</p>

{{ $future := where (where .Site.RegularPages ".Params.date" "ge" (now.AddDate 0 0 -1)).ByDate "Section" "events" }}
{{ range $future }}

<div class="card mb-3">
    <div class="row g-0">
        <div class="d-none d-sm-block col-sm-4 col-md-3 col-xs-12 p-3 mx-auto">
            <img class="lazy-loaded img-fluid" src="/img/venues/{{ .Params.venue_logo }}" data-lazy-type="image" />        
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
            {{ if .Params.show_details }}
            <h2><a href="{{ .Permalink }}">{{ .Params.title }}</a></h2>
            {{ else }}
            <h2>{{ .Params.title }}</h2>
            {{ end }}
            <h3 class="h5"><a href="{{ .Params.location }}" target="_new" class="text-muted">{{ .Params.subtitle }}</a></h3>
            <ul class="list-unstyled">
                <li>{{ .Params.date.Format "January 2, 2006" }}</li>
                <li>{{ .Params.time }}</li>
            </ul>

            {{ .Params.summary }}
        </div>
    </div>
</div>

{{ end }}

{{ end }}