{{ define "main" }}
<div class="row">
    <div class="col-12 text-center"><h1>{{ .Params.title }}</h1></div>
    <div class="col-12 text-center"><h2>{{ .Params.subtitle }}</h2></div>
</div>

{{ .Content }}

{{ $currentGroup := "" }}
{{ $nextGroup := "" }}

{{ $paginator := .Paginate (.Pages.ByDate.Reverse) }}

{{ range $paginator.Pages }}
{{ $nextGroup = cond (ge .Date now) "Future" "Past" }}

{{ if and (ne $currentGroup $nextGroup) (ge .Date now ) }}
<h1>Upcoming Events</h1>
{{ else if and (ne $currentGroup $nextGroup) (lt .Date now ) }}
<h1>Prior Events</h1>
{{ end }}

{{ $currentGroup = $nextGroup }}

<div class="card mb-3">
    <div class="row g-0">
        <div class="d-none d-sm-block col-sm-4 col-md-3 col-xs-12 p-3">
            <img class="lazy-loaded img-fluid" src="/img/venues/{{ .Params.venue_logo }}" data-lazy-type="image" />        
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
            <h2><a href="{{ .Permalink }}">{{ .Params.title }}</a></h2>
            <h3 class="h5"><a href="{{ .Params.location }}" target="_new" class="text-muted">{{ .Params.subtitle }}</a></h3>
            <ul class="list-unstyled">
                <li>{{ .Params.date.Format "January 2, 2006" }}</li>
                <li>{{ .Params.time }}</li>
            </ul>

            {{ .Params.summary }}
        </div>
    </div>
</div>


{{ end }}
{{ template "_internal/pagination.html" . }}


{{ end }}