{{ define "main" }}

<h1>{{ .Title }}</h1>

{{ if isset .Params "pics" }}
{{ $panes := .Params.pics }}
{{ $count := len $panes }}

<div id="carousel-info" class="carousel slide" data-bs-ride="carousel" data-pause="false" data-bs-interval="3000">
	{{ if gt $count 1 }}
	<div class="carousel-indicators">
		{{- range $idx, $item := $panes }}
		<button type="button" data-bs-target="#carousel-info" data-bs-slide-to="{{- $idx }}" {{- if eq $idx 0 }} class="active" {{- end }}></button>
		{{- end }}
    </div>
	{{ end }}
	<div class="carousel-inner">
		{{ range $idx, $item := $panes }}
		<div class="carousel-item {{- if eq $idx 0}} active {{- end }}">
			<img src="/img/events/{{ $.Params.date.Format "2006-01-02" }}/{{ $item }}" class="d-block w-100" />
		</div>
		{{ end }}
	</div>
	{{ if gt $count 1 }}
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-info" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-info" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
	{{ end }}
</div>

{{ end }}

{{ .Content }}

{{ end }}